html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: Liberation Sans, Arial, sans-serif;
  color: #111;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

#c {
  width: 100%;
  height:100%;
}

#mapBox {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 10px 10px 0 0;
  width: 250px;
  height: 200px;
  max-width: 33%;
  max-height: 33%;
  background: rgba(0,40,70,0.6);
  border-radius: 0 0 0 30px;
  box-shadow: inset 1px -1px 20px -1px rgba(0,200,255,0.4);
  overflow: hidden;
}
.touchable #mapBox {
  background: rgba(0,40,70,0.2);
  box-shadow: inset 1px -1px 20px -1px rgba(0,200,255,0.1);
}

#map {
  position: relative;
  top: 1px;
  right: 1px;
  border-radius: 0 0 0 30px;
}
.touchable #map {
  top: 0px;
  right: 0px;
}

b {
  position: fixed;
  bottom: -20px;
  background: rgba(255,255,255,0.2);
  font-weight: bold;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  text-align: center;
}

/*#btZ {
  top: -10px; left: -10px;
  bottom: auto;
  padding: 25px 25px 25px 25px;
  border-radius: 0 0 50px 0;
  color: rgba(0,200,255,0.5);
  background: rgba(0,0,0,0.3);
  box-shadow: inset -5px -5px 30px rgba(0,255,255,0.2);
  text-shadow: 0 0 9px rgba(0,255,255,0.6);
}
#btZ:hover {
  background: rgba(0,200,255,0.3);
}*/

#btU, #btL, #btR {
  font-size: 30px;
  color: rgba(255,255,255,0.7);
  background: rgba(0,0,0,0.3);
  box-shadow: inset 0 0 30px rgba(255,255,255,0.2);
  text-shadow: 0 0 9px rgba(255,255,255,0.9);
  display: none;
}
#btU.pressed, #btL.pressed, #btR.pressed {
  background: rgba(200,0,0,0.3);
}
.touchable #btU, .touchable #btL, .touchable #btR {
  display: block;
}
#btU {
  left: 25%;
  right: 25%;
  padding: 20px 0 30px 0;
  border-radius: 60px 60px 0 0;
}
#btL {
  left: -20px;
  right: 77%;
  padding: 40px 0 30px 0;
  border-radius: 0 90px 0 0;
}
#btR {
  right: -20px;
  left: 77%;
  padding: 40px 0 30px 0;
  border-radius: 90px 0 0 0;
}
#btU:before { content: "⇑" }
#btL:before { content: "↺" }
#btR:before { content: "↻" }

#deadMsg {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 200px;
  padding: 10px 20px;
  margin: -120px 0 0 -220px;
  background: #EAA;
  border: 10px solid #FFF;
  border-radius: 30px;
  box-shadow: inset 0 0 40px #944, 0 0 40px 10px rgba(255,255,255,0.6);
  opacity: 0.8;
}

#deadMsg h1 {
  text-align: center;
}

#deadMsg .bt {
  font-size: 130%;
  float: right;
  margin: 5px 0 0 10px;
  display: block;
  background: #B77;
  color: #FFF;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 9px;
  box-shadow: inset -2px -2px 10px #733, 2px 2px 8px #955;
}
#deadMsg .bt:hover {
  background: #F55;
}

