html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: Liberation Sans, Arial, sans-serif;
  color: #111;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

#wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
}

#c {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
}

#mapBox {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 10px 10px 0 0;
  width: 250px;
  height: 200px;
  max-width: 33%;
  max-height: 33%;
  background: rgba(0,40,70,0.6);
  border-radius: 0 0 0 30px;
  box-shadow: inset 1px -1px 20px -1px rgba(0,200,255,0.4);
  overflow: hidden;
}
.touchable #mapBox {
  width: 350px;
  height: 300px;
  background: rgba(0,40,70,0.2);
  box-shadow: inset 1px -1px 20px -1px rgba(0,200,255,0.1);
}

#map {
  position: relative;
  top: 1px;
  right: 1px;
  border-radius: 0 0 0 30px;
}
.touchable #map {
  top: 0px;
  right: 0px;
}

.progress {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 30%;
  background: rgba(200,240,255,0.3);
  box-shadow: inset 0 0 10px rgba(200,240,255,0.5);
  border-radius: 5px;
  padding: 1px 3px 1px 1px;
}

.progress i {
  font-size: 11px;
  line-height: 14px;
  font-style: normal;
  text-indent: 10px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
  display: block;
  width: 100%;
  min-height: 10px;
  background: #0BF;
  box-shadow: inset 0 0 10px #014;
  border: 1px solid #034;
  border-radius: 4px;
  opacity: 1;
  transition: 0.4s;
}
.pix15 .progress i {
  font-size: 14px;
  line-height: 17px;
}
.pix20 .progress i {
  font-size: 18px;
  line-height: 20px;
}

#msgBox {
  position: absolute;
  top: 50px;
  left: 20px;
  font-size: 1.5vw;
  color: #FFF;
  text-shadow: 0 0 2px #000, 1px 1px 1px #000;
  opacity: 0;
  transition: 12s;
}
#msgBox.visible {
  opacity: 1;
  transition: 0s;
}

b {
  position: fixed;
  bottom: -20px;
  background: rgba(255,255,255,0.2);
  font-weight: bold;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  text-align: center;
}

#btU, #btL, #btR {
  font-size: 60px;
  color: rgba(255,255,255,0.3);
  background: rgba(0,0,0,0.3);
  box-shadow: inset 0 0 90px rgba(255,255,255,0.3);
  text-shadow: 0 0 15px rgba(255,255,255,0.9);
  display: none;
}
#btU.pressed, #btL.pressed, #btR.pressed {
  background: rgba(200,0,0,0.3);
}
.touchable #btU, .touchable #btL, .touchable #btR {
  display: block;
}
#btU {
  left: 25%;
  right: 25%;
  padding: 30px 0 40px 0;
  border-radius: 95px 95px 0 0;
}
#btL {
  left: -40px;
  right: 77%;
  padding: 70px 0 40px 0;
  border-radius: 0 150px 0 0;
}
#btR {
  right: -40px;
  left: 77%;
  padding: 70px 0 40px 0;
  border-radius: 150px 0 0 0;
}
#btU:before { content: "⇑" }
#btL:before { content: "↺" }
#btR:before { content: "↻" }

#btW {
  bottom: 30px;
  left: 30px;
  padding: 30px;
  font-size: 130px;
  line-height: 170px;
  border-radius: 25px;
  background: rgba(55,155,255,0.2);
  box-shadow: inset 0 0 20px rgba(55,155,255,0.3);
  transition: 2s;
  opacity: 1;
}
.touchable #btW {
  box-shadow: inset 0 0 30px rgba(55,155,255,0.3);
  border-radius: 40px;
  padding: 50px;
  bottom: 220px;
}
#btW.empty {
  background: rgba(0,160,255,1);
  transition: 0.3s;
  opacity: 0;
}

#btW i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #FF0;
  box-shadow: inset 0 0 30px #B05;
  border: 2px solid #FF0;
  font-size: 36px;
  line-height: 38px;
  color: rgba(255,255,0,0.5);
}
.touchable #btW i {
  width: 60px;
  height: 60px;
  border: 3px solid #FF0;
}
#btW i:before { content: "⊗" }

#ctrl {
  top: 35%;
  right: 20px;
  bottom: auto;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 40px;
  border-radius: 15px;
  box-shadow: inset 0 0 15px #FFF;
  text-shadow: 1px 1px 1px #000;
  color: rgba(255,255,255,0.6);
  opacity: 0.5;
}

#ctrl:before { content: "⚙" }

.dialog {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 200px;
  padding: 10px 20px;
  margin: -120px 0 0 -220px;
  background: #DDD;
  border: 10px solid #FFF;
  border-radius: 30px;
  box-shadow: inset 0 0 40px #666, 0 0 40px 10px rgba(255,255,255,0.6);
  opacity: 0.8;
}
.pix20 .dialog {
  width: 800px;
  height: 400px;
  padding: 20px 40px;
  margin: -220px 0 0 -440px;
  font-size: 200%;
  box-shadow: inset 0 0 80px #666, 0 0 80px 20px rgba(255,255,255,0.6);
}

.dialog h1 {
  text-align: center;
  margin: 0 0 10px 0;
}

.dialog .bt {
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  font-size: 130%;
  float: right;
  display: block;
  background: #AAA;
  color: #FFF;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 9px;
  box-shadow: inset -2px -2px 10px #555, 2px 2px 8px #777;
}
.dialog .bt:hover {
  background: #F55;
}

#intro {
  display: block;
}

#intro div {
  font-size: 90%;
}

#introTxt2, #introTxt3 {
  display: none;
}

#deadMsg {
  background: #EAA;
  box-shadow: inset 0 0 40px #944, 0 0 40px 10px rgba(255,255,255,0.6);
}

#deadMsg .bt {
  background: #B77;
  box-shadow: inset -2px -2px 10px #733, 2px 2px 8px #955;
}

#ctrlBox dir {
  margin: 0;
  padding: 5px 0 10px 20px;
}

#ctrlBox div {
  position: absolute;
  top: 80px;
  right: 60px;
}
.pix20 #ctrlBox div {
  position: absolute;
  top: 160px;
  right: 120px;
}

#ctrlBox label {
  display: inline-block;
  padding: 8px 0;
}

#playerWin.breakingNews {
  font-size: 90%;
  width: 440px;
  height: 250px;
}
.pix20 #playerWin.breakingNews {
  width: 860px;
  height: 430px;
  padding: 20px 40px;
  margin: -240px 0 0 -450px;
  font-size: 160%;
}

#playerWin h3 {
  font-size: 120%;
  margin: 0;
}

